### Projects
api-gateway/
ms-auth/
ms-users/
proto-auth/
proto-users/

### The secrets dir
secrets/*
!secrets/.gitkeep

### Other
.tests/

docker/custom/*
!docker/custom/.gitkeep

### npm

.node_repl_history
.npm/
package-lock.json

### OS
.DS_Store

# linux cache file
.cache/

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
